# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="mysql://root@localhost:3006/bobwattsmoderation"

# Enviroments variables declared under this line is not made by prisma
APP_NAME="Bob Watts Moderation"
APP_ENV=production
APP_TOKEN=
APP_DEBUG=false